# Data Preparation
Twitter, Imdb, Yelp

Binary, 3 classes, 5 classes classifications
## Content

In [121]:
import os
import re
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import string
import nltk
import inflect
from bs4 import BeautifulSoup
import re, string, unicodedata
from nltk.stem import WordNetLemmatizer, PorterStemmer
from sklearn.preprocessing import LabelEncoder

In [122]:
DATA_PATH = './data/yelp/'
OUTPUT_DATA_PATH = os.path.join(DATA_PATH, 'reviews.csv')
OUTPUT_LABELS_PATH = os.path.join(DATA_PATH, 'labels.csv')

In [128]:

'''imdb'''
data = pd.read_csv(os.path.join(DATA_PATH, 'data.csv'))

'''twitter'''
#data = pd.read_csv(os.path.join(DATA_PATH, 'data.csv'), names=['number', 'topic', 'class', 'review'], header=None)

'''amazon'''
#data = pd.read_csv(os.path.join(DATA_PATH, 'data.csv'), names=['class', 'short', 'review'], header=None)

'amazon'

In [129]:
'''YELP'''
data = data.rename(columns={'Review': 'review'})

In [130]:
'''amazon'''
#data['class'] = data['class'] - 1

data.isna().sum()

review    0
dtype: int64

# Data-preprocessing
* To lower case;
* Delete stop-words;
* Punctuation reduce;

In [131]:
data.dropna(inplace=True)

In [132]:
data.isna().sum()

review    0
dtype: int64

In [133]:
data['review'] = data['review'].apply(lambda x: re.sub('[%s]' % re.escape(string.punctuation), '' , x))

In [134]:
data['review'] = data['review'].apply(lambda x: x.lower())

In [135]:
data

                                                   review
0       unfortunately the frustration of being dr gold...
1       been going to dr goldberg for over 10 years i ...
2       i dont know what dr goldberg was like before  ...
3       im writing this review to give you a heads up ...
4       all the food is great here but the best thing ...
...                                                   ...
559995  ryan was as good as everyone on yelp has claim...
559996  professional nfriendlynon time and affordablen...
559997  phone calls always go to voicemail and message...
559998  looks like all of the good reviews have gone t...
559999  ryan rocks i called him this morning for some ...

[560000 rows x 1 columns]

In [136]:
contractions_dict = {"ain't": "are not","'s":" is","aren't": "are not", "isn't": "is not", "im": "i am"}


def expand_contractions(text,contractions_dict=contractions_dict):
    def replace(match):
        return contractions_dict[match.group(0)]
    return contractions_re.sub(replace, text)

# Regular expression for finding contractions
contractions_re=re.compile('(%s)' % '|'.join(contractions_dict.keys()))

 
# Expanding Contractions in the reviews
data['review'] = data['review'].apply(lambda x:expand_contractions(x))

In [137]:
data.head()

                                              review
0  unfortunately the frustration of being dr gold...
1  been going to dr goldberg for over 10 years i ...
2  i dont know what dr goldberg was like before  ...
3  i am writing this review to give you a heads u...
4  all the food is great here but the best thing ...

In [138]:
import gensim
from gensim.parsing.preprocessing import remove_stopwords, STOPWORDS

pat = r'\b(?:{})\b'.format('|'.join(STOPWORDS))
data['review'] = data['review'].str.replace(pat, '')
data['review'] = data['review'].str.replace(r'\s+', ' ')

# Stemming, Lemmatization

In [139]:
def stem_words(text):
    stemmer = PorterStemmer()
    return " ".join([stemmer.stem(word) for word in text.split()])

def lemmetize_words(text):
    lemmatizer = WordNetLemmatizer()
    return " ".join([lemmatizer.lemmatize(word) for word in text.split()])


def normalize_text(text):
    p = inflect.engine()
    text = text.apply(lambda x: 
                unicodedata.normalize('NFKD', x).encode('ascii', 'ignore').decode('utf-8', 'ignore'))
    text = text.apply(lambda x: p.number_to_words(x) if x.isdigit() else x)
    #text = text.apply(lambda x: stem_words(x))
    text = text.apply(lambda x: lemmetize_words(x))
    return text

In [140]:
data['review'] = normalize_text(data['review'])

In [141]:
data

                                                   review
0       unfortunately frustration dr goldberg patient ...
1       going dr goldberg 10 year think 1st patient st...
2       dont know dr goldberg like moving arizona let ...
3       writing review head doctor office staff admini...
4       food great best thing wing wing si amply fanta...
...                                                   ...
559995  ryan good yelp clai amed courteous knowledgabl...
559996  professional nfriendlynon ti ame affordablenwe...
559997  phone call voicemail message returned stupid w...
559998  look like good review gone head place jason ry...
559999  ryan rock called hi morning sprinkler help pot...

[560000 rows x 1 columns]

In [142]:
data['review'].to_csv(OUTPUT_DATA_PATH, index=None)
#data['class'].to_csv(OUTPUT_LABELS_PATH, index=None)
'''IMDB'''
#data.rename(columns={'sentiment': 'class'})['class'].apply(lambda x: 
#                      0 if x == 'negative' else 1).to_csv(OUTPUT_LABELS_PATH, index=None)

'''Twitter'''
#data['class'].apply(lambda x: (0 if x == 'Negative' else 1) if x != 'Neutral' else -1).to_csv(OUTPUT_LABELS_PATH, index=None)

'Twitter'

In [74]:

'''YELP'''
pd.read_csv(os.path.join(DATA_PATH, 'train_label.csv')).rename(columns={'label': 'class'})['class'].to_csv(OUTPUT_LABELS_PATH, index = None)